# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp

# CI/CD
.github/
*.yml

# Documentation
README.md

# Node (for semantic-release)
node_modules/
package.json
package-lock.json
releaserc.json

# Python
__pycache__/
*.pyc

# OS
.DS_Store